.header {
  align-items: center;
  background-image: url("https://img.freepik.com/free-photo/top-view-arrangement-natural-material-stationery_23-2148898233.jpg");
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.nav--left_top {
  display: flex;
  color: white;
  margin: 0;
}
.bootstrap {
  padding: 10px;
}
.nav--right_top {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 10px;
 
}

.header--h1 {
  color: white;
  text-align: center;
  font-size: 100px

}
.header--under {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 60;
}

nav {
  justify-content: space-between;
  display: flex;
}

.list {
 padding: 10px;
  font-size: 0.75rem;
}

.blog-style {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  width: 600px;
}

.title:hover {
    color: rgb(15, 97, 138);
  
}

.subTitle {
  font-size: medium;
}
.date {
  font-size: small;
  border-bottom: 3px solid #bbb;
}
.author {
  
  font-size: smaller;
}

.render {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}